{% with {
  attr: app.request.attributes,
  get: app.request.query.all,
  hasPrev: pager.hasPreviousPage ?? false,
  hasNext: pager.hasNextPage,
} %}
  {% if hasPrev or hasNext %}
    <nav class="pagination">
      <ul class="nav nav--guttered no-margin unlistify">
        {% if hasPrev %}
          <li class="previous">
            <a href="{{ path(attr.get('_route'), (attr.get('_route_params') ?? {})|merge(get)|merge({page: pager.previousPage})) }}"
               class="button button--secondary">
              {{ 'nav.previous'|trans }}
            </a>
          </li>
        {% endif %}
        {% if hasNext %}
          <li class="next">
            <a href="{{ path(attr.get('_route'), (attr.get('_route_params') ?? {})|merge(get)|merge(pager.nextPageParams ?? {page: pager.nextPage})) }}"
               class="button button--secondary">
              {{ 'nav.next'|trans }}
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endwith %}
