{% extends 'forum/base.html.twig' %}

{% block title %}
  {{ submission.title }}
{% endblock %}

{% block sidebar %}
  <section class="sidebar__section sidebar-card submission-meta">
    <p class="submission-meta__score">
      <strong class="submission-meta__vote-total">
        {{- 'submissions.total_votes'|trans({'%count%': submission.votes|length}) -}}
      </strong>

      <span class="submission-meta__vote-stats">
        {{- 'submissions.vote_stats'|trans({
          '%up%': submission.upvotes,
          '%down%': submission.downvotes,
        }) -}}
      </span>
    </p>

    <h4 class="no-margin fg-muted unheaderize text-xs">{{ 'item.short_url'|trans }}</h4>

    <p class="sidebar__no-padding">
      <kbd class="submission-meta__short-url">
        {{- url('submission_shortcut', {id: submission.id}) -}}
      </kbd>
    </p>
  </section>

  {{ parent() }}
{% endblock %}

{% block body %}
  <nav class="submission-permalink-nav">
    <ul class="nav nav--guttered unlistify">
      <li>
        <a href="{{ path('forum', {forum_name: forum.name}) }}">
          {{ 'comments.return_to_forum'|trans({'%forum%': '/f/<strong>'~forum.name~'</strong>'})|raw -}}
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
