{% extends 'base.html.twig' %}

{% block title 'flash.no_password_resets'|trans %}

{% block body %}
  {% embed '_layouts/alert.html.twig' with { type: 'error' } %}
    {% block alert_classes 'no-margin' %}
    {% block alert_paragraph 'flash.no_password_resets'|trans %}
  {% endembed %}
{% endblock %}
