{% extends 'submission/base.html.twig' %}

{% from 'comment/_macros.html.twig' import comment %}

{% block title %}
  {% if editing %}
    {{ 'comment_form.edit_title'|trans }}
  {% else %}
    {{ 'comment_form.create_title'|trans }}
  {% endif %}
{% endblock %}

{% block body %}
  {{ parent() }}

  <h1 class="page-heading">{{ block('title') }}</h1>

  {% if comment %}
    {{ comment(comment) }}
  {% endif %}

  {% include 'comment/_form.html.twig' with { form: form } only %}
{% endblock %}
